In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'user', # имя пользователя
            'pwd': 'password', # пароль
            'host': 'host',
            'port': 1111, # порт подключения
            'db': 'zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [2]:
 query = ''' SELECT * FROM dash_visits
               
            '''

In [3]:
 #!pip install psycopg2-binary

In [4]:
zen_db = pd.io.sql.read_sql(query, con = engine)

Посмотрим предварительно на данные, прежде чем записывать их в файл

In [5]:
# Выведем таблицу
zen_db

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [8]:
# Проверим сумму визитов
zen_db['visits'].sum()

310207

In [13]:
# Посмотрим количество визитов по источникам
zen_db.groupby('source_topic')['visits'].sum()

source_topic
Авто                   9567
Деньги                 5157
Дети                  15243
Еда                    6892
Здоровье              12831
Знаменитости          23945
Интерьеры              3614
Искусство              8001
История               14628
Кино                  20084
Музыка                 2869
Одежда                11895
Полезные советы       27412
Политика               7341
Психология             5730
Путешествия           24124
Ремонт                 5699
Россия                29831
Сад и дача             7470
Сделай сам             6287
Семейные отношения    33309
Семья                 13896
Спорт                  5253
Строительство          3000
Технологии             3501
Финансы                2628
Name: visits, dtype: int64

In [9]:
# Посмотрим количество визитов по темам
zen_db.groupby('item_topic')['visits'].sum()

item_topic
Деньги                10291
Дети                  10989
Женская психология     7737
Женщины               11499
Здоровье              10399
Знаменитости           7394
Интересные факты      19942
Искусство              8516
История               15389
Красота                9814
Культура              10205
Наука                 21736
Общество              19640
Отношения             20666
Подборки              17772
Полезные советы       15435
Психология             8036
Путешествия            9260
Рассказы              10909
Россия                16966
Семья                 11897
Скандалы               9294
Туризм                 9512
Шоу                    7511
Юмор                   9398
Name: visits, dtype: int64

In [10]:
# Посмотрим количество тем по источникам
zen_db.groupby('source_topic')['item_topic'].count()

source_topic
Авто                  1077
Деньги                 973
Дети                  1459
Еда                    912
Здоровье              1243
Знаменитости          1650
Интерьеры              809
Искусство             1228
История               1437
Кино                  1505
Музыка                 750
Одежда                1379
Полезные советы       1578
Политика              1024
Психология            1055
Путешествия           1563
Ремонт                 985
Россия                1687
Сад и дача            1036
Сделай сам             995
Семейные отношения    1822
Семья                 1405
Спорт                 1007
Строительство          758
Технологии             741
Финансы                667
Name: item_topic, dtype: int64

In [11]:
# Посмотрим количество источников
zen_db['source_topic'].value_counts()

Семейные отношения    1822
Россия                1687
Знаменитости          1650
Полезные советы       1578
Путешествия           1563
Кино                  1505
Дети                  1459
История               1437
Семья                 1405
Одежда                1379
Здоровье              1243
Искусство             1228
Авто                  1077
Психология            1055
Сад и дача            1036
Политика              1024
Спорт                 1007
Сделай сам             995
Ремонт                 985
Деньги                 973
Еда                    912
Интерьеры              809
Строительство          758
Музыка                 750
Технологии             741
Финансы                667
Name: source_topic, dtype: int64

In [12]:
#Выгружаем таблицу в файл, чтобы импортировать в Tableu 
zen_db.to_csv('dash_visits.csv', encoding='utf-8', index=False)